{% assign percentoff = product.compare_at_price | minus:  product.price   | times: 100  | divided_by: product.compare_at_price %}

<div id="myModal_wish" class="modal outside_closed" style='display:none;'>
<!-- Modal content -->
<div class="modal-content">
  <div class="pop_wrapers">
    <div class="close_sec">
      <span id="wish_close" class="closes"><i class="uil uil-times"></i><span>Close</span></span>
    </div>
    <div class="content_wper">
      <div class="content_scroll">
        <h3>There's a Reason Our Prices Are Low</h3>
        <p>It’s not because we have access to some exclusive deal.</p>
        <p>Just like a car manufacturer builds a car and relies on dealers to sell it, software creators develop products and work with retail partners to distribute them.</p>
        <p>Major retailers like Best Buy aren’t focused on offering the lowest prices. With many stores, employees, and large overheads, their pricing reflects their operating costs.</p>
        <p>To get big-box stores to carry certain software products, developers often provide wholesale discounts of 34% to 40%.</p>
        <p>Why? Because once the software is developed and launched, selling each additional copy costs virtually nothing.</p>
        <p>It’s similar to when Taylor releases a new album—every extra sale takes <b>zero effort</b>.</p>
        <p>Now back to Best Buy.</p>
        <p>When a developer offers favorable pricing to one retailer, they’re often required by law to extend the same terms to all authorized resellers.</p>
        <p>Including Software Keep.</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal content -->
</div>

<!--whythis popup Start Modal content -->
<div id="wythismyModal" class="whymodal outside_closed" style='display:none;'>
  <div class="modal-content">
    <div class="pop_wrapers">
      <div class="close_sec">
        <span id="why_close" class="closes"><i class="uil uil-times"></i> <span>Close</span></span>
      </div>
      <div class="content_wper">
        <div class="content_scroll">
          <h3>We Had a Choice</h3>
          <p>One option was to do what Best Buy does: keep around {% if product.compare_at_price > 0 %}{{ percentoff }}% {{ 'general.tags.off' | t }}{% endif %} for ourselves and sell it to you at retail.</p>
          <p>But this is silly because we don't have the overheads that Best Buy has. That means we can pass some of those savings to you while maintaining a healthy, equitable business.</p>
          <p>So that's what we did. It's why you're seeing a          
            {% if product.compare_at_price > 0 %}{{ percentoff }}% {{ 'general.tags.off' | t }}{% endif %} discount today.</p>
        </div>
      </div>
   </div>
  </div>
</div>
<!-- End why this Modal content -->

<!-- NewHere what make us different popup Start Modal content -->
<div id="newhereModal" class="whymodal outside_closed" style="display:none;">
  <div class="modal-content">
    <div class="pop_wrapers">
      <div class="close_sec">
        <span id="newhere_close" class="closes">
          <i class="uil uil-times"></i> <span>Close</span>
        </span>
      </div>
      <div class="content_wper">
        <div class="content_scroll">
          <h3>There's a Reason Our Prices Are Low</h3>
          <p>It’s not because we’ve unlocked some exclusive secret deal.</p>
          <p>Just like a car manufacturer builds a vehicle and sells it through dealers, software creators rely on retail partners to distribute their products.</p>
          <p>Retail giants like Best Buy aren’t focused on offering the lowest possible price. With physical stores, large staff, and high operational costs, their pricing reflects their overhead.</p>
          <p>To get these retailers to carry certain software, developers often offer them discounts of 34% to 40%.</p>
          <p>They can afford to do this because once a digital product is built and launched, distributing each additional copy costs virtually nothing.</p>
          <p>It’s like when Taylor releases a new album—every extra sale after launch takes <b>zero effort</b>.</p>
          <p>Back to Best Buy.</p>
          <p>When a software developer offers a discount to one major retailer, they’re often required by law to offer the same deal to all approved resellers.</p>
          <p>Including SoftwareKeep.</p>

          <h3>We Had a Choice</h3>
          <p>We could’ve followed the big-box approach—keep 40% for ourselves and sell to you at full retail price.</p>
          <p>But that didn’t make sense. We don’t have their overhead, so we chose to pass some of the savings on to you while still building a sustainable business.</p>
          <p>That’s why you're seeing a 
            {% if product.compare_at_price > 0 %}{{ percentoff }}% {{ 'general.tags.off' | t }}{% endif %} 
            discount today.</p>

          <h3>Be Mindful</h3>
          <p>It’s one thing for a trusted store like SoftwareKeep to offer a 
            {% if product.compare_at_price > 0 %}{{ percentoff }}% {{ 'general.tags.off' | t }}{% endif %} 
            discount. It’s another when unknown sites list software for $50—or even less.</p>
          <p>Top-tier software developers invest years and billions building their reputation. They don’t permit authorized resellers to drastically undercut pricing in ways that would damage their brand.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End NewHere Modal content -->

 <!-- Collection page pop up show -->
 {% if settings.pop_text != blank %}
    <div id="dispop_model" class="popupOverlay outside_closed" style="display:none;">
       <div class="popupContainer">
          {{ settings.pop_text }}
       </div>
    </div>

   <script>
    $(document).ready(function(){
        $('.discount_pops').click(function(event){
          event.preventDefault();
          $('#dispop_model').show();
        });
        $('.epopupClose').click(function(){
         $('#dispop_model').hide();
        });
      // Closed outside popup
      $(".outside_closed").click(function(event ){
         $("#dispop_model").hide();
       });
     });
   </script>
{% endif %}
<!-- Collection page pop up show -->

<script>
$(document).ready(function(){
  $('.gothere_badge').click(function(event){
    event.preventDefault();
    $('#myModal_wish').show();
  });
  $('#wish_close').click(function(){
   $('#myModal_wish').hide();
  });
});
</script>

<script>
$('#why_pop p').click(function(e){
  e.preventDefault();
    $('#wythismyModal').show();
  });
  $('#why_close').click(function(){
   $('#wythismyModal').hide();
  });

// New here popup start make_diff
  $('.new-popcall #newwhere').click(function(e){
    e.preventDefault();
    $('#newhereModal').show();
  });
  $('#newhere_close').click(function(){
   $('#newhereModal').hide();
  });


  // New here popup start make_diff
  $('.new-popcalls .make_diff').click(function(e){
    e.preventDefault();
    $('.whymodal').show();
  });
  $('#newhere_close').click(function(){
   $('#newhereModal').hide();
  });
  
  
// Closed outside popup
$(".outside_closed").click(function(event ){
  $(".outside_closed").hide();
});
  
</script>
