{% if shop.customer_accounts_enabled and mobile != false %}
<div class="user__button" style="display:none;">
    <label for="user__button">{% render 'get-icon', icon: 'user' %}</label>
    <input type="checkbox" class="hide" id="user__button">
    <div class="user__holder">
        {% if customer %}
            <a class="user__link" href="{{ routes.account_url }}">{% render 'get-icon', icon: 'user' %}Account</a>
            <a class="user__link" href="{{ routes.account_logout_url }}">{% render 'get-icon', icon: 'signout' %}<span id="logout">{{'navigation.buttons.log_out'|t}}</span></a>
        {% else %}
            <a class="user__link" href="{{ routes.account_login_url }}">{% render 'get-icon', icon: 'signin' %}{{'navigation.buttons.sign_in'|t}}</a>
            <a class="user__link" href="{{ routes.account_register_url }}">{% render 'get-icon', icon: 'signup' %}{{'navigation.buttons.sign_up'|t}}</a>
        {% endif %}
        <a class="user__link" href="{{ routes.cart_url }}">{% render 'get-icon', icon: 'shopping-bag' %}{{'general.buttons.view_cart' | t}}</a>
    </div>
    <label class="overlay" for="user__button"></label>
</div>
{% endif %}
{% if hideSearch != true %}
<span class="search__icon" onclick="BoosterTheme.ELEMENTS.openSearch(this)">{% render 'get-icon', icon: 'search' %}</span>
{% endif %}
<div class="i18n__button">
   <div class="abs-localization-country">
     {%- form 'localization', class: 'localization-form' -%}
        <div class="localization-form__select">
          <select class="localization-selector link" aria-label="currency" id="localization-country" name="country_code">
            {%- for country in localization.available_countries -%}
              <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %} style="background:##efefef; color:#000;">
             {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
              </option>
            {%- endfor -%}
          </select>
        </div>
      {%- endform -%}
   </div>  
</div>
  <script>
      document.addEventListener('DOMContentLoaded', function(event) {
      let lc = document.getElementById('localization-country');
      if (lc) {
        lc.addEventListener('change', function(event) {
          event.currentTarget.parentNode.parentNode.submit();
        });
      }
      let ll = document.getElementById('localization-language');
      if (ll) {
        ll.addEventListener('change', function(event) {
          event.currentTarget.parentNode.parentNode.submit();
        });
      }
    });
</script>

<div class="user_login_detils">
 <span class="right-side-icon">
   {% if customer %}
      <a class="user__links-login" href="{{ routes.account_logout_url }}"><i class="uil uil-user" style="font-size:20px; color: #5b5b5b;"></i><span>Logout</span></a>
     {% else %}
      <a class="user__links-login" href="{{ routes.account_url }}"><i class="uil uil-user" style="font-size:20px; color: #5b5b5b;"></i> <span>Account</span></a>
     {% endif %}
</span>
</div>

{% if showCart == true %}
{% unless settings.cartStyle == 'none' %}
<div class="minicart__button minicart__button--{{section.settings.cartIcon}}">
    <input type="checkbox" data-minicart-input id="minicart__button--{{section.id}}{% if mobile %}-mobile{% endif %}">
    <label class="overlay" for="minicart__button--{{section.id}}{% if mobile %}-mobile{% endif %}"></label>
    <label class="minicart__label" for="minicart__button--{{section.id}}{% if mobile %}-mobile{% endif %}" data-cart-settings="count" data-cart-container>
        {% render 'get-icon', icon: section.settings.cartIcon %}<span class="item__count" data-count>0</span>
    </label>
    <div class="minicart__holder minicart--{{-settings.cartStyle}}" data-cart-settings="product-list" data-cart-container><div data-product-list></div></div>
</div>

{% else %}
<div class="minicart__button minicart__button--{{section.settings.cartIcon}}">
    <a href="{{routes.cart_url}}" class="minicart__label" for="minicart__button--{{section.id}}" data-cart-settings="count" data-cart-container>
        {% render 'get-icon', icon: section.settings.cartIcon %}<span class="item__count" data-count>0</span>
    </a>
</div>
{% endunless %}
{% endif %}
