<style>
  {%- unless block.settings.color contains "rgba(0,0,0,0)" -%}
  .product__price--{{block.id}} .product__price {
      color: {{block.settings.color}};
  }
  {%- endunless -%}

  {%- unless block.settings.newPriceColor contains "rgba(0,0,0,0)" -%}
  .product__price--{{block.id}} .product__price.product__price--sale {
      color: {{block.settings.newPriceColor}};
  }
  {%- endunless -%}

  {%- unless block.settings.oldPriceColor contains "rgba(0,0,0,0)" -%}
  .product__price--{{block.id}} .product__price--old {
      color: {{block.settings.oldPriceColor}};
  }
  {%- endunless -%}
</style>

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign s_type = settings.saleType | default: 'percent' %}
<div
  class="
    product__price--holder product__price--{{block.id}}
    font__family--{{-block.settings.fontFamily}} font__size--{{-block.settings.fontSize}}
    {% if block.settings.noMargin or noMargin %}margin__bottom--reduced{%endif-%}
  "
  {{ block.shopify_attributes }}
>
  {% if product.compare_at_price_min > 0 %}
    {% assign sale = true %}
    {% if current_variant.compare_at_price > 0 %}
      {% assign currsale = true %}
    {% else %}
      {% assign currsale = false %}
    {% endif %}
  {% else %}
    {% assign sale = false %}
    {% assign currsale = false %}
  {% endif %}
  <span
    data-product-price="{{product.id}}"
    class="product__price {% if currsale %}{% unless current_variant.price >= current_variant.compare_at_price %}product__price--sale{% endunless %}{% endif %} jsPrice"
  >
    {% if settings.currencyFormat == 'money_with_currency_format' %}
      {{ current_variant.price | money_with_currency | strip_html }}
    {% else %}
      {{ current_variant.price | money | strip_html }}
    {% endif %}
  </span>
  {% unless current_variant.price >= current_variant.compare_at_price %}
    <span data-product-price-sale="{{product.id}}" class="product__price--old jsPrice">
      {%- if currsale %}{{ current_variant.compare_at_price | money | strip_html }}{% endif -%}
    </span>
    {% if sale %}
      {%- unless s_type == 'none' or sale == false %}
        <span
          data-tag-product="{{product.id}}"
          data-tag-type="{{s_type}}"
          class="tag tag--sale {% unless currsale %}hide{% endunless %} {% if s_type == 'amount' %}jsPrice{% endif %}"
        >
          {% if currsale %}
            {%- case s_type %}
              {% when 'percent' %}
                {{
                  current_variant.compare_at_price 
                  | minus: current_variant.price
                  | times: 100
                  | divided_by: current_variant.compare_at_price
                -}}
                % {{ 'general.tags.off' | t }}
              {% when 'amount' %}
                {{ current_variant.compare_at_price | minus: current_variant.price | money | strip_html }}
              {% when 'text' %}
                {{ 'general.tags.sale' | t }}
            {%- endcase -%}
          {% endif %}
        </span>
      {%- endunless -%}
    {% endif %}
  {% endunless %}
</div>

 <div class="product_support">
    <!-- <ul class="guarantees">
      <li class="guaranteesimg">
        <span class="gothere_badge">
          <img src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/blue-check.png?v=1703238403" alt="check trick" width="20" height="20">
          <h3 style="text-decoration: underline;font-weight: 500;">OUR PROMISE</h3>
        </span>
      </li>
      <li class="guarantees-img">
        <img src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/blue-check.png?v=1703238403" alt="checktick" width="20" height="20">
        <span class="life_suport">LIFETIME SUPPORT</span>
      </li>
    </ul> -->
     <ul class="support_points">
     {% for datas in product.metafields.custom.product_better_selections.value %}
      <li>{{ datas.text }}</li>
     {% endfor %}
    </ul>
   
      <div class="new-popcall new-popcall-sixten">
         <p id="newwhere" style="margin: 5px;"><span style="font-size:30px;">&#128075;</span><span style="text-decoration:underline;font-weight:600;">WHAT MAKE US DIFFERENT</span></p>
      </div>
  </div>

 <div class="mpayment-sec">
  <div class="mobile-payment">
    <img src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon-info.svg?v=1706852733" alt="Message" width="25" height="25">
    <p style="font-size: 15px;line-height: 20px;">Your <span style="color:#046AB5;font-weight: 600;">product activation code</span> will be <br><span style="text-decoration: underline;">emailed to you 15-30 minutes</span> after checkout.</p>
  </div>
 </div>
{% comment %}
  {% blockdef %}

  {% endblockdef %}
{% endcomment %}
