<div class="gd-container-center">
    <!-- <div class="reviews-stars">
      <img src="{{ 'pdp-star-rating.svg' | asset_url }}" alt="">
       <span>4.8/5 based on 1500 reviews</span>
       <img src="{{ 'pdp-tp-icon.svg' | asset_url }}" alt="">
    </div> -->
    <h1 class="h-reset product__title margin__bottom--reduced">{{ product.title }}</h1>
    {%  if section.settings.main_prfeaturelist != blank  %}
     <ul class="pfeatures">
      {{ section.settings.main_prfeaturelist }}
    </ul>
   {% endif %}

    {% if section.settings.discount_text != blank %}
    <p class="discount-text">
      {{ section.settings.discount_text }}
    </p>
    {% endif %}
  
    {% if product.metafields.custom.link_of_pc != blank %}
  <div class="sector">
    <div class="product-toggle-os-selector">
      <div class="toggle-os--selected-info">
        <div class="icon_selected">
          <p><strong>Select Operating System:</strong></p>
        </div>
        <div class="conditional_icon_img">
          {% if product.title contains 'PC' or product.handle contains 'pc' %}
            <span class="conditional_icon_one">
              <p><b>Windows</b></p>
              <img
                class="windows_icon"
                src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/box_windows.png?v=1706086795"
                width="60px"
                height="60px"
                alt="{{ product.title }}"
            ></span>
          {% else %}
            <span class="conditional_icon">
              <p><b>Mac</b></p>
              <img
                width="60px"
                height="60px"
                class="apple_icon"
                alt="{{ product.title }}"
                src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/box_mac.png?v=1706086795"
            ></span>
          {% endif %}
        </div>
      </div>

      <ul class="prods-versionlist">
        {% assign product_rec_1 = all_products[product.metafields.custom.link_of_pc] %}
        {% assign product_rec_1_url = product_rec_1.url %}
        {% if product_rec_1 != blank %}
          <li class="window {% if product_rec_1_url == product.url %}active{% endif %}">
            <a href="{{ product_rec_1_url }}" class="wpers_versins">
              <div class="img-box-system">
                <img
                  alt="Windows"
                  loading="lazy"
                  width="21"
                  height="21"
                  decoding="async"
                  data-nimg="1"
                  alt="{{ product.title }}"
                  src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon-windows-system.png?v=1703165738"
                  style="color: transparent; display:block;"
                >
              </div>
              <p>Windows PC</p>
            </a>
          </li>
        {% endif %}
        {% assign product_rec_2 = all_products[product.metafields.custom.link_of_mac] %}
        {% assign product_rec_2_url = product_rec_2.url %}
        {% if product_rec_2 != blank %}
          <li class="mac {% if product_rec_2_url == product.url %}active{% endif %}">
            <a href="{{ product_rec_2_url }}" class="wpers_versins">
              <div class="img-box-system">
                <img
                  alt="Mac"
                  loading="lazy"
                  width="23"
                  height="23"
                  decoding="async"
                  data-nimg="1"
                  alt="{{ product.title }}"
                  src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/icon-apple-system.png?v=1703165737"
                  style="color: transparent; display:block;"
                >
              </div>
              <p>MacOS</p>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
    <ul class="guarantees">
      <li class="guaranteesimg">
        <span class="gothere_badge">
          <img src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/blue-check.png?v=1703238403" alt="checkbox" width="20" height="20">
          <p  class="our-promise-text">OUR PROMISE</p>
        </span>
      </li>
      <li class="guarantees-img">
        <img src="https://cdn.shopify.com/s/files/1/0090/2125/9831/files/blue-check.png?v=1703238403" alt="check" width="20" height="20">
        <span class="life_suport">LIFETIME SUPPORT</span>
      </li>
    </ul>
  
        {% assign desciption = product.description | split: '<!-- split -->'  %}
  
        {{ desciption[0] }}
  
    <div class="new-popcall">
     <p id="newwhere" style="margin: 5px;">
       <span style="font-size:30px;">&#128075;</span>
       <span class="make-diiferent-text" style="text-decoration:underline;font-weight:600;">WHAT MAKE US DIFFERENT</span>
     </p>
   </div>
  
</div>



{% comment %}
  {% blockdef %}

  {% endblockdef %}
{% endcomment %}
