<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>

    {% render 'pandectes-rules' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="dns-prefetch" href="https://softwarekeep.com">
    <link
      href="https://softwarekeep.com"
      rel="preconnect"
      crossorigin>
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <!-- This Script is the exclusive property of Website Speedy, Copyright © 2024. All rights reserved. -->

    <script
      type="text/javascript"
      src="https://shopify-websitespeedy.b-cdn.net/speedyscripts/ecmrx_161/ecmrx_161_1.js"
      async></script>
    <script type="text/javascript" src="https://shopify-websitespeedy.b-cdn.net/speedyscripts/ecmrx_161/ecmrx_161_2.js"></script>
    <script type="text/javascript" src="https://shopify-websitespeedy.b-cdn.net/speedyscripts/ecmrx_161/ecmrx_161_3.js"></script>

    <!-- This Script is the exclusive property of Website Speedy, Copyright © 2024. All rights reserved. -->

    <script>
      var _0x18e59f=_0x170f;(function(_0x7933bd,_0x4ab90a){var _0x1a20b8=_0x170f,_0x4f5ee9=_0x7933bd();while(!![]){try{var _0x13e95e=-parseInt(_0x1a20b8(0x188))/0x1*(-parseInt(_0x1a20b8(0x187))/0x2)+parseInt(_0x1a20b8(0x194))/0x3*(parseInt(_0x1a20b8(0x19a))/0x4)+parseInt(_0x1a20b8(0x193))/0x5+-parseInt(_0x1a20b8(0x184))/0x6*(parseInt(_0x1a20b8(0x192))/0x7)+parseInt(_0x1a20b8(0x191))/0x8*(parseInt(_0x1a20b8(0x18e))/0x9)+parseInt(_0x1a20b8(0x19c))/0xa+-parseInt(_0x1a20b8(0x199))/0xb;if(_0x13e95e===_0x4ab90a)break;else _0x4f5ee9['push'](_0x4f5ee9['shift']());}catch(_0x2b961a){_0x4f5ee9['push'](_0x4f5ee9['shift']());}}}(_0x3a90,0xd2c1e));function _0x170f(_0x2ff263,_0x286dd0){var _0x3a9054=_0x3a90();return _0x170f=function(_0x170f20,_0x297ab8){_0x170f20=_0x170f20-0x180;var _0x46c80b=_0x3a9054[_0x170f20];return _0x46c80b;},_0x170f(_0x2ff263,_0x286dd0);}if(_0x18e59f(0x18c)===navigator[_0x18e59f(0x182)]){var targetScriptURL2=_0x18e59f(0x18d),isScriptRemoved2=![];function reAddScriptAfterDelay2(){setTimeout(function(){var _0x2bcafa=_0x170f,_0x5ea212=document['createElement'](_0x2bcafa(0x195));_0x5ea212[_0x2bcafa(0x197)]=targetScriptURL2,_0x5ea212[_0x2bcafa(0x196)]=!![],document[_0x2bcafa(0x18a)][_0x2bcafa(0x180)](_0x5ea212);},0x1b58);}var scriptObserver2=new MutationObserver(function(_0x198173){var _0x44ce5f=_0x18e59f;_0x198173[_0x44ce5f(0x18f)](function(_0x10159c){var _0x531c3d=_0x44ce5f;_0x10159c[_0x531c3d(0x186)][_0x531c3d(0x18f)](function(_0x47a972){var _0x21cfc8=_0x531c3d;_0x47a972[_0x21cfc8(0x189)]===0x1&&_0x47a972[_0x21cfc8(0x198)]===_0x21cfc8(0x18b)&&_0x47a972[_0x21cfc8(0x197)]===targetScriptURL2&&(_0x47a972[_0x21cfc8(0x190)]&&!isScriptRemoved2&&(_0x47a972[_0x21cfc8(0x190)]['removeChild'](_0x47a972),isScriptRemoved2=!![],scriptObserver2[_0x21cfc8(0x185)](),reAddScriptAfterDelay2()));});});});scriptObserver2[_0x18e59f(0x19b)](document[_0x18e59f(0x183)],{'childList':!![],'subtree':!![]});var targetScriptURL3='https://cdn.intelligems.io/91c92a3b48f9.js','https://softwarekeep.com/cdn/shop/t/78/assets/jquery.js', 'https://softwarekeep.com/cdn/shop/t/78/assets/slick.min.js' isScriptRemoved3=![];function reAddScriptAfterDelay3(){setTimeout(function(){var _0x4d2ce6=_0x170f,_0x2d6261=document['createElement']('script');_0x2d6261[_0x4d2ce6(0x197)]=targetScriptURL2,_0x2d6261[_0x4d2ce6(0x196)]=!![],document['head']['appendChild'](_0x2d6261);},0x1b58);}var scriptObserver3=new MutationObserver(function(_0x5cef32){_0x5cef32['forEach'](function(_0x5dc056){var _0x37ea00=_0x170f;_0x5dc056[_0x37ea00(0x186)]['forEach'](function(_0x46e9dc){var _0x34c7a0=_0x37ea00;_0x46e9dc['nodeType']===0x1&&_0x46e9dc[_0x34c7a0(0x198)]===_0x34c7a0(0x18b)&&_0x46e9dc[_0x34c7a0(0x197)]===targetScriptURL3&&(_0x46e9dc[_0x34c7a0(0x190)]&&!isScriptRemoved3&&(_0x46e9dc[_0x34c7a0(0x190)][_0x34c7a0(0x181)](_0x46e9dc),isScriptRemoved3=!![],scriptObserver3[_0x34c7a0(0x185)](),reAddScriptAfterDelay3()));});});});scriptObserver3['observe'](document[_0x18e59f(0x183)],{'childList':!![],'subtree':!![]});}function _0x3a90(){var _0x4822fc=['Linux\x20x86_64','https://api.resellerratings.com/assets/script/d9c0bcaf8f835ba50bbdf4cdf30f50503','166653qTjgUs','forEach','parentNode','40vaNqGs','65653LtExvj','7365885jFWvzO','39ftQxTT','script','async','src','tagName','38038165jwuGOH','421472LGabVU','observe','8656190tmFldW','appendChild','removeChild','platform','documentElement','294weuLIg','disconnect','addedNodes','2twEwWT','979683TwxLIJ','nodeType','head','SCRIPT'];_0x3a90=function(){return _0x4822fc;};return _0x3a90();}
    </script>

    <script>
      window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
      window._template = {
          directory: "{{ template.directory }}",
          name: "{{ template.name }}",
          suffix: "{{ template.suffix }}"
      }
    </script>
    <script src="https://cdn.intelligems.io/91c92a3b48f9.js" defer></script>

    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn.shopify.com/s/files/1/0675/9848/3616/files/favicon_color.svg?v=1747642683">
    {% render 'layout__favicon' %}
    <!-- --- Noindex Markets ----- -->
    {% if canonical_url contains '/en' %}
      <meta name="robots" content="noindex,nofollow">
    {% endif %}
    <!-- --- End Noindex Markets ----- -->

    <script src="{{ 'jquery.js' | asset_url }}"></script>
    <script src="{{ 'slick.min.js' | asset_url }}"></script>

    <link
      rel="preload"
      href="{{ 'slick.css' | asset_url }}"
      as="style">
    {{ 'slick.css' | asset_url | stylesheet_tag }}

    <!-- BEGIN Merchantverse Code -->
    <script
      id="merchantverseScript"
      src="https://www.gstatic.com/merchantverse/merchantverse.js"
      defer></script>
    <script type="text/javascript">
      merchantverseScript.addEventListener('load', function () {
        merchantverse.start({
          position: 'LEFT_BOTTOM',
          sideMargin: 21,
          bottomMargin: 60,
          mobileSideMargin: 11,
          mobileBottomMargin: 25
        });
      });
    </script>
    <!-- END Merchantverse Code -->

    <title>
      {{ page_title }}
      {% if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif %}
      {% if current_page != 1 %}
        &ndash; Page {{ current_page -}}
      {%- endif %}
    </title>

    {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
      {{ content_for_header }}
    {%- else -%}
      {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
      {{
        content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: ' src=', ' data-src=' | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: 'DOMContentLoaded', 'DOMContentLoaded2'
      }}
    {%- endif -%}

    {{ 'custom.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'header-inline-search.css' | asset_url | stylesheet_tag: preload: true }}
    {% if page.template_suffix == 'rumble-page' or page.template_suffix == 'david-pakman' %}
      {{ 'custom-pricing.css' | asset_url | stylesheet_tag }}
      {{ 'rumble-page.css' | asset_url | stylesheet_tag: preload: true }}
      {{ 'microsoft-download-center.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}

    {% if page.template_suffix == 'compare-windows' %}
      {{ 'compare-windows.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    {% if page.template_suffix == 'compare-visio-options' %}
      {{ 'compare-visio-options.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}
    {% if page.template_suffix == 'microsoft-office-2021-vs-office-365' %}
      {{ 'microsoft-office-2021-vs-office-365.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif %}

    <style>
      {% render 'global-scss' %}
    </style>

    {% unless settings.headHTML == blank %}
      {{ settings.headHTML }}
    {% endunless %}
    {% unless settings.headJS == blank %}
      <script>
        {{settings.headJS}}
      </script>
    {% endunless %}
  {% render 'layout__custom-code--head' %}

    <!-- Google tag (gtag.js) -->
    <!--
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-882261891"></script>  <script>    window.dataLayer = window.dataLayer || [];    function gtag(){dataLayer.push(arguments);}    gtag('js', new Date());    gtag('config', 'AW-882261891');  </script>
    -->
    {% render 'omega_fb_custom_code' %}
    <!-- Google tag (gtag.js) -->
    <script>
      let flagh = 1;
        $(document).hover(function(){
          if(flagh){
          var apish = document.createElement('script');
        apish.setAttribute('src','https://www.googletagmanager.com/gtag/js?id=AW-882261891');
            apish.setAttribute("async","true")
           document.head.appendChild(apish);
            window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-882261891');
            flagh=0;
            }

        });
    </script>
    <!-- End Google tag (gtag.js) -->
    <!-- -- Bing--- -->
    <script>
      (function(w,d,t,r,u)
      {
        var f,n,i;
        w[u]=w[u]||[],f=function()
        {
          var o={ti:"187123408", enableAutoSpaTracking: true};
          o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
        },
        n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
        {
          var s=this.readyState;
          s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)
        },
        i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
      })
      (window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
    <!-- -- End Bing--- -->

    <!-- --- AddShoppers DO NOT REMOVE - DRIVES REVENUE -->
    <script type="text/javascript">
       var AddShoppersWidgetOptions = { 'loadCss': false, 'pushResponse': false };
       (!function(){
      var t=document.createElement("script");
      t.type="text/javascript",
      t.async=!0,
       t.id="AddShoppers",
      t.src="https://shop.pe/widget/widget_async.js#666807f7f1e63e604652df8f",
      document.getElementsByTagName("head")[0].appendChild(t)
       }());
    </script>
    <!-- ---- //END AddShoppers DO NOT REMOVE - DRIVES REVENUE ---------- -->

    <script>
      window.addEventListener("scroll", function () {
        let element = document.getElementById("sticky_mobs-view");
        element.style.zIndex = "99";

        if (window.scrollY < 100) {
          element.classList.add('position-static');
        } else {
          element.classList.remove('position-static');
        }
      });
    </script>

    <style>
      .position-static {
        position: static !important;
      }
      .page__header-an--sticky #desktop_headers {
        top: 0 !important;
      }
    </style>
  </head>
  <body class="{{ template.name }} {{ page.template_suffix }} template--{{template}} {% if page.handle == 'microsoft-windows-products' %} template--page.office-2021-products {% endif %}">
    <div class="container">
      <!-- {% section 'bottom-info-bar' %} -->
      <div class="container__top-part">
        {% if settings.headerType == 'inline-search' %}
        {% else %}
          {% section 'top-info-bar' %}
        {% endif %}

        <div id="booster__popup--holder" class="booster__popup--holder"></div>

        {% if template.suffix == 'no-header' or template.suffix == 'landing-no-header' or template.suffix == 'best-deals' or template.suffix == 'deals-office-2024'
        %}
        {% elsif template.suffix == 'landing-alt-header' %}
          {% section 'header-alt' %}
        {% else %}
          {% case settings.headerType %}
            {% when 'default' %}
              {% section 'header--default' %}
            {% when 'inline-search' %}
              {% section 'header--inline-search' %}
            {% when 'logo-top' %}
              {% section 'header--logo-top' %}
          {% endcase %}
        {% endif %}
      </div>

      <div id="quickbuy__modal" class="modal">
        <div onclick="closeModal(event)" class="overlay"></div>
        <div class="content"></div>
      </div>

      {% if settings.recentlyBought %}
        <a id="recently-bought--holder" class="recently-bought--holder {% unless settings.recentlyBoughtMobile -%}hide-mobile{%-endunless-%}">
          <div class="recently-bought--img-ratio">
            <div class="recently-bought--img"><img src=""></div>
          </div>
          <div class="recently-bought--info">
            <div class="recently-bought--who"></div>
            <div class="recently-bought--what"></div>
            <div class="recently-bought--price">
              <span class="current-price"></span>
              <span class="old-price"></span>
            </div>
            <div class="recently-bought--when"></div>
          </div>
        </a>
        <script>
          const recentlyBoughtConfig = { useNames: {{settings.recentlyBoughtNames}}, nameFormat: '{{settings.recentlyBoughtNameFormat}}', allProductsUrl: '{{routes.all_products_collection_url}}' }
        </script>
      {% endif %}

      <div class="add-to-cart__success--holder modal">
        {% unless settings.cartAction == 'message' %}
          <div onclick="closeModal(event)" class="overlay add-to-cart__success--overlay"></div>
        {% endunless %}
        <div class="add-to-cart__success" id="checkout--success">
          {% render 'add-to-cart__template--success' %}
        </div>
      </div>

      {% render 'layout__template--specific' %}

      <main role="main">
        {{ content_for_layout }}

        <div class="wrapper--bottom">
          {% section 'info-badges' %}
          {% section 'footer' %}
          {% section 'subfooter' %}
        </div>
      </main>
    </div>

    <div>
      <input
        type="checkbox"
        data-minicart-input
        id="minicart__button-input-checkbox">
      <label class="overlay" for="minicart__button-input-checkbox"></label>
      <div
        class="minicart__holder minicart--{{-settings.cartStyle}} header_general"
        data-cart-settings="product-list"
        data-cart-container>
        <div data-product-list></div>
      </div>
  </div>

    {% comment %}
      {% render 'layout__app--code' %}
    {% endcomment %}

    {% render 'layout__bstr--constants' %}

    <!-- {{ '/services/javascripts/currencies.js' | script_tag }} -->
    {% comment %} If you want to serve the non-minified version, remove .min extension {% endcomment %}
    <script src="{{ 'booster.min.js' | asset_url }}" async></script>
    {{ 'unicons.css' | asset_url | stylesheet_tag }}

    {% unless settings.bodyHTML == blank %}
      {{ settings.bodyHTML }}
    {% endunless %}
    {% unless settings.bodyCSS == blank %}
      <style>
        {{ settings.bodyCSS }}
      </style>
    {% endunless %}
    {% unless settings.bodyJS == blank %}
      <script>
        {{settings.bodyJS}}
      </script>
    {% endunless %}

    {% if template contains 'product' and settings.jQuery %}
      <script
        src="{{ 'jquery.zoom.min.js' | asset_url }}"
        type="text/javascript"
        defer="defer"></script>
    {% endif %}

    {% render 'layout__custom-code--body' %}

    {% if settings.backTopBtn %}
      {% render 'scroll_top_button' %}
    {% endif %}

    <script>
      $(".home-guarantees-container .h-g-c-body .h-g-c-b-block:nth-child(3) .h-g-c-b-b-button").click(function(event){
        event.preventDefault();
        $("form#contact_form").slideToggle();
      });

      document.addEventListener("DOMContentLoaded", () => {
          const toggleEle = document.querySelector(".sections-menu > h3");
          const contextList = document.querySelector(".sections-menu > ul");
          toggleEle?.addEventListener("click", () => {
              contextList?.classList?.toggle("dropActive");
          })
      })


       // Get all <p> elements in the document
        var paragraphs = document.getElementsByTagName("p");

        // Loop through each <p> element
        for (var i = 0; i < paragraphs.length; i++) {
            // Check if the content of the <p> element is only &nbsp;
            if (paragraphs[i].innerHTML.trim() === '&nbsp;') {
                // Remove the <p> element
                paragraphs[i].parentNode.removeChild(paragraphs[i]);
            }
        }
    </script>
    <!-- Shopping Guarantee Seal -->
    <script type="text/javascript" src="//guarantee-cdn.com/SealCore/api/gjs?SN=955294143&t=11"></script>
    <!-- End Shopping Guarantee Seal -->

    {% if product %}
      <script>
              window.addEventListener('load', function() {
              var _learnq = window._learnq || [];
              function addedToCart() {
        fetch(`${window.location.origin}/cart.js`)
        .then(res => res.clone().json().then(data => {
          var cart = {
            total_price: data.total_price/100,
            $value: data.total_price/100,
            total_discount: data.total_discount,
            original_total_price: data.original_total_price/100,
            items: data.items
          }
          if (item !== 'undefined') {
            cart = Object.assign(cart, item)
          }
          if (klAjax) {
              _learnq.push(['track', 'Added to Cart', cart]);
              klAjax = false;
            }
        }))
              };
              (function (ns, fetch) {
        ns.fetch = function() {
          const response = fetch.apply(this, arguments);
          response.then(res => {
            if (`${window.location.origin}/cart/add.js`
            	.includes(res.url)) {
              	addedToCart()
            }
          });
          return response
        }
              }(window, window.fetch));
              var klAjax = true;
              var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
              for (var i = 0; i < atcButtons.length; i++) {
          atcButtons[i].addEventListener("click", function() {
            if (klAjax) {
              _learnq.push(['track', 'Added to Cart', item]);
              klAjax = false;
            }
          })
              }
              });
      </script>
    {% endif %}

    <!-- Googole Review Reating -->
    <!-- BEGIN GCR Badge Code -->
    <script
      src="https://apis.google.com/js/platform.js?onload=renderBadge"
      async
      defer></script>
    <script>
      window.renderBadge = function() {
        var ratingBadgeContainer = document.createElement("div");
          document.body.appendChild(ratingBadgeContainer);
          window.gapi.load('ratingbadge', function() {
            window.gapi.ratingbadge.render(
              ratingBadgeContainer, {
                // REQUIRED
                "merchant_id": 121427595,
                // OPTIONAL
                "position": "BOTTOM_LEFT"
              });
         });
      }
    </script>
    <!-- END GCR Badge Code -->
    <!-- Start ZenddeskSupport -->
    <script>
      let flag = 1;
        $(document).hover(function(){
          if(flag){
          var apis = document.createElement('script');
        apis.setAttribute('src','//static.zdassets.com/ekr/snippet.js?key=53ee61ca-67e4-4b89-a8e8-4d0ecc24a87c');
            apis.setAttribute("defer","true")
            apis.setAttribute("key","zendesk-chat-script")
            apis.setAttribute("id","ze-snippet")
            apis.setAttribute("async","true")
            apis.setAttribute("type","text/javascript")
        document.head.appendChild(apis);
            flag=0;
            }

        });
  </script>

    <!-- --- product tempalte popup -- -->
    {% render 'excel-model-popup'
      , product: product %}

    <script>
       ready('#buysafeseal_1_a', function(element) {
         $("#buysafeseal_1_a").attr("width","60");
         $("#buysafeseal_1_a").attr("height","60");
       });
       ready('._GUARANTEE_Kicker_Container img', function(element) {
         $("._GUARANTEE_Kicker_Container img").attr("width","206");
         $("._GUARANTEE_Kicker_Container img").attr("height","30");
       });
       ready('#merchantwidgetiframe', function(element) {
         $("#merchantwidgetiframe").attr("title","softwarekeep google review");
       });
       ready('#mm_sidecart_v2', function(element) {
         $("#mm_sidecart_v2").attr("title","promotion-popup-text");
       });
       // for Reseller rating slide arrow
       ready('.hfAcicSk2ZvQtxWkJoa4 img', function(element) {
        $('.hfAcicSk2ZvQtxWkJoa4').find('img').attr({width: '25px', height: '25px' });
       });
      ready('hfAcicSk2ZvQtxWkJoa4.Y4ejYnh75itm1jyeB_Bg img', function(element) {
        $('hfAcicSk2ZvQtxWkJoa4.Y4ejYnh75itm1jyeB_Bg').find('img').attr({width: '25px', height: '25px' });
      });
    </script>

    {{ 'wnw-optimization.js' | asset_url | script_tag }}
  </body>
</html>