<style>
#best__{{ section.id }}{
   background: {{section.settings.bgcolor}};
   padding: 40px 0;
}
.home-about_wraps {
  display: flex;
  justify-content: center;
  gap: 72px;
}
.home-about_wraps .db_content-sec{
    width: 100%;
}
.home-about_wraps .db_heading h2 {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    color: #000;
    max-width: 300px;
    margin: 0px;
}
.db_content-sec p {
    color: #000;
    max-width: 600px;
    font-size: 20px;
    line-height: 27px;
}
.list_icons-wraps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list_icons-wraps .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom:15px;
  border-bottom: 4px solid #D9D9D9;
  gap: 30px;
}
.home-about_wraps .icon_img {
    background: #fff;
    padding: 10px;
    border-radius: 32.5px;
    max-width: 150px;
}
.list_icons-wraps .list:last-child {
  border-bottom:none;
}
  
@media screen and (max-width:767px) {
.home-about_wraps {
   flex-direction: column;
   padding: 0 20px;
 }
 .db_content-sec p {
    font-size: 18px;
    line-height: 24px;
 }
 .home-about_wraps .db_heading h2 {
    text-align: center;
    font-size: 28px;
    max-width: unset;
  }
  .home-about_wraps .icon_img {
    max-width: 85px;
 }
 .text-list h3{
   margin-top: 0px;
   font-size: 20px;
 }
 .home-about_wraps {
    gap: 25px;
 }
  .text-list p{
    line-height:normal;
  }
}
@media only screen and (min-width:767px) and (max-width:1024px)  {
 .home-about_wraps {
    padding: 0 20px;  
 }
}
</style>
<div id="best__{{ section.id }}">
<div class="max-width">
  <div class="home-about_wraps">
    <div class="main_wrap">
      <div class="db_content-sec">
          {% if section.settings.heading != blank %}
           <div class="db_heading">
               <h2>{{ section.settings.heading }}</h2> 
            </div>
          {% endif %}
         {% if section.settings.subparas != blank %}
           {{ section.settings.subparas }}
         {% endif %}
      </div>
    </div>
    
    <div class="list_icons-wraps">
      {% for block in section.blocks %}
        <div class="list">
            <div class="icon_img">
              {% if block.settings.iconImage != blank %}
              {% render 'image', src: block.settings.iconImage, size: '100x100', alt: alt %}
              {% else %}
              <img src="https://cdn.shopify.com/s/files/1/0621/8733/9828/files/Pictogram.png?v=1711525716" width="40" height="40">
              {% endif %}
            </div>
            <div class="text-list">
              <h3>{{ block.settings.test_text }}</h3>
              {% if block.settings.test_text_para != blank %}
               {{ block.settings.test_text_para }}
              {% endif %}
            </div>
        </div>
     {% endfor %}
 
    </div>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Why Choose",
    "settings": [
         {
        "type": "color_background",
        "id": "bgcolor",
        "label": "Background Color section"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "heading",
        "default": "We don’t just care about software.<br> We care about you"
      },
      {
        "type": "richtext",
        "id": "subparas",
        "label": "Sub Paragrapgh",
        "default": "<p>We don’t just care about software. We care about you</p>"
      }
    ],
    "blocks": [
     {
       "name": "texticon",
       "type": "text",
       "settings": [
          {
            "type": "image_picker",
            "id": "iconImage",
            "label": "Select Icon (100x100 px)"
         },
          {
            "type": "text",
            "label": "Heading Text",
            "id": "test_text",
            "default": "We offer exceptional 24/7 Costumer Service."
          },
          {
            "type": "richtext",
            "label": "Subparagrapgh Text",
            "id": "test_text_para",
            "default": "<p>We offer exceptional 24/7 Costumer Service.</p>"
          }
       ]
     }
    ],
    "presets": [{"name": "Home Why Choose"}]
  }
{% endschema %}