<div class="max-width top-section-desktop">
  <div class="offc_wrap">
    {% capture images %}
       <div class="img_rights">
        {% if section.settings.leftimg1 != blank %}
         {{ section.settings.leftimg1 | image_url: width:'526', height:'604' | image_tag }}
        {% endif %}
      </div> 
  {% endcapture %}
   {% if section.settings.imagePosition1 == 'left' %}
     {{ images }}
    {% endif %}
    <div class="content_lefts">
      {% if section.settings.subHeading_txt1  != blank %}
      <p class="sb_txts">{{ section.settings.subHeading_txt1 }}</p>
    {% endif %}
       <h1>{{ section.settings.Heading_txt1 }}</h1>
        {% if section.settings.areacontents1 != blank %}
        <div class="copy_text">  
      
          <p>{{ section.settings.areacontents1  }}</p>
 
        </div> 
        {% endif %}
        <div class="r_pric r_pric-eagle-icon">
           <p class="cpric">{{ section.settings.pric_txt1 }}</p>
            <img src="{{ 'icon-eagle-price.webp' | asset_url }}" alt="Icon eagle" />
           </div>
           <div class="bt_wraps">
              <p class="get_extra">
              <svg width="135" height="23" viewBox="0 0 135 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.5" width="134" height="22" rx="4.5" fill="white" stroke="#91D848"/>
              <path d="M79.7278 15.126C78.3418 15.126 77.1938 14.552 76.7738 12.928L77.5718 12.704C77.8518 13.866 78.7618 14.286 79.7138 14.286C80.8198 14.286 81.5198 13.81 81.5198 13.166C81.5198 12.536 80.9598 12.242 79.8258 11.962L79.1118 11.78C77.6418 11.402 77.0538 10.702 77.0538 9.764C77.0538 8.686 78.0618 7.888 79.5318 7.888C80.8758 7.888 82.1358 8.574 82.3598 10.114L81.5478 10.282C81.3238 9.134 80.4838 8.742 79.5318 8.742C78.6498 8.742 78.0058 9.148 78.0058 9.764C78.0058 10.464 78.7898 10.772 79.6298 10.982L80.3438 11.164C81.7998 11.542 82.4578 12.13 82.4578 13.152C82.4578 14.272 81.3798 15.126 79.7278 15.126ZM87.1759 7.888C89.0239 7.888 90.4659 9.316 90.4659 11.5C90.4659 13.684 89.0239 15.112 87.1759 15.112C85.9579 15.112 85.0899 14.468 84.5999 13.516V17.282H83.6899V8H84.5999V9.484C85.0899 8.532 85.9579 7.888 87.1759 7.888ZM87.0639 14.272C88.5199 14.272 89.5559 13.222 89.5559 11.5C89.5559 9.778 88.5199 8.728 87.0639 8.728C85.6079 8.728 84.5719 9.778 84.5719 11.5C84.5719 13.222 85.6079 14.272 87.0639 14.272ZM97.8607 11.402C97.8607 11.514 97.8607 11.598 97.8467 11.696H92.3167C92.4007 13.348 93.4227 14.286 94.7107 14.286C95.7047 14.286 96.5587 13.852 97.0347 12.648L97.8187 13.012C97.1327 14.608 95.9007 15.126 94.6687 15.126C92.7927 15.126 91.3927 13.656 91.3927 11.5C91.3927 9.274 92.8067 7.888 94.6967 7.888C96.5027 7.888 97.8607 9.274 97.8607 11.402ZM94.6827 8.728C93.4367 8.728 92.5407 9.554 92.3587 10.926H96.8807C96.7127 9.456 95.8307 8.728 94.6827 8.728ZM102.107 15.112C100.231 15.112 98.7891 13.614 98.7891 11.5C98.7891 9.386 100.231 7.888 102.107 7.888C103.437 7.888 104.683 8.462 105.313 10.254L104.501 10.59C104.039 9.232 103.213 8.728 102.107 8.728C100.805 8.728 99.7131 9.736 99.7131 11.5C99.7131 13.264 100.805 14.272 102.107 14.272C103.213 14.272 104.039 13.768 104.501 12.41L105.313 12.746C104.683 14.538 103.437 15.112 102.107 15.112ZM106.833 6.376C106.441 6.376 106.147 6.068 106.147 5.662C106.147 5.27 106.441 4.962 106.833 4.962C107.239 4.962 107.547 5.27 107.547 5.662C107.547 6.068 107.239 6.376 106.833 6.376ZM106.385 15V8H107.295V15H106.385ZM111.505 7.888C112.989 7.888 114.473 8.658 114.473 10.632V15H113.563V14.286C113.129 14.832 112.373 15.126 111.309 15.126C109.853 15.126 108.467 14.398 108.467 12.984C108.467 11.57 109.853 10.842 111.295 10.842C112.359 10.842 113.129 11.15 113.563 11.682V10.73C113.563 9.232 112.541 8.714 111.505 8.714C110.469 8.714 109.699 9.288 109.475 10.184L108.691 9.932C108.985 8.644 110.119 7.888 111.505 7.888ZM111.519 14.356C112.681 14.356 113.591 13.88 113.591 12.984C113.591 12.088 112.681 11.612 111.519 11.612C110.357 11.612 109.405 12.06 109.405 12.984C109.405 13.908 110.357 14.356 111.519 14.356ZM117.844 14.174H118.46V15H117.774C116.598 15 116.052 14.23 116.052 13.222V5.2H116.962V13.166C116.962 13.81 117.214 14.174 117.844 14.174Z" fill="#001122"/>
              <path d="M32.7843 15.0443V11.6757C32.7843 9.4386 34.352 8.36289 36.2147 8.36289H37.1124V10.0943L36.3201 10.1029C35.7975 10.1029 35.3929 10.2572 35.0979 10.5615C34.8071 10.8615 34.6639 11.3243 34.6639 11.9415V15.0486L32.7843 15.0443ZM37.9131 8.3586H39.8095V11.8557C39.8095 12.1729 39.839 12.4429 39.898 12.6615C39.9612 12.8757 40.0497 13.0472 40.1635 13.1843C40.2815 13.3129 40.4248 13.4029 40.5891 13.4629C40.7577 13.5186 40.9431 13.5443 41.1539 13.5443C41.344 13.5461 41.5332 13.5172 41.7144 13.4586C41.8829 13.4029 42.022 13.3129 42.1358 13.1843C42.2538 13.0515 42.3465 12.8757 42.4055 12.6615C42.4645 12.4472 42.4982 12.1772 42.4982 11.8557V8.36289H44.3946V11.92C44.407 12.4498 44.3227 12.9773 44.146 13.4757C44.0025 13.867 43.7717 14.2191 43.4717 14.5043C43.1738 14.7714 42.8211 14.9676 42.4392 15.0786C42.0473 15.1986 41.6174 15.2586 41.1539 15.2586C40.6903 15.2586 40.2562 15.1986 39.8643 15.0786C39.4839 14.967 39.1327 14.7709 38.836 14.5043C38.5345 14.2196 38.3022 13.8674 38.1575 13.4757C37.9931 13.0472 37.9131 12.5329 37.9131 11.92V8.3586ZM49.5319 11.4529V15.0529H51.4367V11.4529C51.462 10.5957 51.8581 9.86718 52.7221 9.86718C53.5354 9.86718 53.8473 10.7672 53.8473 11.4957V15.0529H55.7437V11.6715C55.7437 9.58003 54.7112 8.14432 52.7811 8.14432C51.7149 8.14432 50.9816 8.53432 50.4843 9.06146C50.1858 8.75373 49.8272 8.5131 49.4316 8.35512C49.0359 8.19714 48.6121 8.12533 48.1875 8.14432C46.2531 8.14432 45.2249 9.58003 45.2249 11.6715V15.0443H47.1213V11.4872C47.1213 10.7586 47.4331 9.8586 48.2465 9.8586C49.1146 9.8586 49.5066 10.5872 49.5319 11.4443V11.4529ZM56.5234 11.4872C56.5234 13.8957 57.9225 15.2715 60.1982 15.2715C60.6786 15.2785 61.1551 15.1836 61.5974 14.9929C62.0019 14.8161 62.3663 14.5564 62.6678 14.23C62.9662 13.9005 63.1982 13.5147 63.3505 13.0943C63.512 12.6499 63.5933 12.1795 63.5907 11.7057C63.5941 11.2354 63.5157 10.7682 63.3589 10.3257C63.2123 9.90773 62.9861 9.52324 62.6931 9.19432C62.3969 8.86533 62.0367 8.60261 61.6353 8.42289C61.1909 8.22935 60.711 8.13439 60.2277 8.14432C59.8484 8.14432 59.5029 8.20003 59.2036 8.31146C58.9216 8.41398 58.656 8.5584 58.4156 8.74003V5.96289H56.5234V11.4872ZM61.5679 10.9515C61.6564 11.1786 61.7027 11.4229 61.7027 11.7015C61.7027 11.98 61.6606 12.2329 61.5679 12.46C61.4846 12.6783 61.3601 12.8778 61.2012 13.0472C61.0497 13.2114 60.8659 13.3414 60.6618 13.4286C60.2406 13.6048 59.7681 13.6048 59.3469 13.4286C59.1468 13.3402 58.9651 13.2136 58.8117 13.0557C58.6556 12.885 58.5327 12.6858 58.4493 12.4686C58.3615 12.2214 58.3187 11.96 58.3229 11.6972C58.3184 11.2073 58.4943 10.7334 58.8159 10.3686C58.9688 10.2092 59.1524 10.0837 59.3554 10C59.5644 9.90883 59.7896 9.86216 60.017 9.86289C60.3545 9.85884 60.6849 9.96138 60.9627 10.1563C61.2404 10.3513 61.4519 10.6291 61.5679 10.9515ZM64.3071 5.96289H66.2036V15.0486H64.3071V5.96289ZM67.1813 10.3343C67.0089 10.7717 66.9216 11.2389 66.9242 11.71C66.9205 12.1823 67.0063 12.6508 67.1771 13.09C67.348 13.5102 67.5969 13.8929 67.9104 14.2172C68.2264 14.5459 68.603 14.808 69.0187 14.9886C69.4528 15.1686 69.929 15.2629 70.4431 15.2629C70.8577 15.2697 71.27 15.2015 71.6611 15.0615C72.0122 14.9392 72.3422 14.7613 72.6388 14.5343C72.9113 14.3244 73.1501 14.0729 73.3468 13.7886C73.5335 13.5245 73.6785 13.2325 73.7766 12.9229H71.7327C71.6189 13.1286 71.4546 13.3 71.2312 13.4329C71.0333 13.546 70.8135 13.6139 70.5871 13.6316C70.3607 13.6494 70.1332 13.6167 69.9206 13.5357C69.7468 13.4706 69.5835 13.3796 69.4359 13.2657C69.1267 13.0092 68.9054 12.6596 68.8038 12.2672H73.941C73.9685 12.0827 73.9839 11.8966 73.9874 11.71C73.9911 11.237 73.9023 10.7679 73.7261 10.33C73.5599 9.90403 73.3107 9.51661 72.9935 9.19108C72.6763 8.86554 72.2976 8.60861 71.8802 8.43575C71.4267 8.24269 70.939 8.14642 70.4474 8.15289C69.929 8.15289 69.4528 8.24718 69.0187 8.43575C68.6005 8.61238 68.2209 8.87167 67.9019 9.1986C67.5905 9.52353 67.3455 9.90811 67.1813 10.33V10.3343ZM69.457 10.0472C69.7455 9.83042 70.0973 9.7187 70.4558 9.73003C70.8393 9.73003 71.1596 9.83718 71.4166 10.0557C71.6695 10.2657 71.8591 10.54 71.9771 10.8786H68.8586C68.985 10.5357 69.1831 10.2572 69.4528 10.0472H69.457Z" fill="#001122"/>
              <path d="M24.8193 12.357C25.325 11.9499 25.325 11.157 24.8193 10.737C24.0995 10.1293 23.3099 9.61272 22.4677 9.19844C21.8861 8.91558 21.2371 9.30987 21.1444 9.98273C21.0011 11.0113 20.9759 12.0484 21.0686 13.0342C21.1318 13.7156 21.7724 14.1227 22.3624 13.8613C23.2437 13.4755 24.0701 12.971 24.8193 12.3613V12.357ZM28.5995 9.3613C29.1352 9.95756 29.4329 10.7356 29.4345 11.5432C29.436 12.3509 29.1413 13.13 28.6079 13.7284C26.7031 15.8663 24.2146 17.3779 21.4605 18.0699C20.7563 18.2491 20.0111 18.1421 19.3831 17.7716C18.7552 17.4011 18.294 16.7963 18.0975 16.0856C17.2673 13.2013 17.3895 9.93987 18.1902 7.04273C18.6116 5.5213 20.0192 4.56558 21.4689 4.91701C24.1534 5.56844 26.6736 7.24416 28.5995 9.3613Z" fill="#85C742"/>
              </svg> {{ section.settings.extraoff1 }}
              </p>
            <a href="{{ section.settings.b_url1 }}" class="common_button">{{ section.settings.b_txt1 }}</a>
            {% if section.settings.secure1 != blank %}
            <p class="secure">
              <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.4728 8.0877L18.473 8.0877C19.0161 8.1057 19.4716 7.68129 19.4903 7.1379C19.5089 6.59804 19.5167 6.0355 19.5134 5.46593C19.5104 4.92454 19.0706 4.48725 18.5292 4.48725C16.3327 4.48725 14.4015 3.95004 12.7848 2.8949L12.7172 2.9985L12.7848 2.8949C11.6117 2.12931 11.037 1.35183 11.0024 1.30414C10.8196 1.03636 10.5207 0.875 10.1946 0.875C9.86856 0.875 9.56965 1.03635 9.38682 1.30412C9.35199 1.3521 8.77722 2.12947 7.60437 2.8949L7.67174 2.99813L7.60437 2.8949C5.9877 3.95004 4.05647 4.48725 1.85997 4.48725C1.31859 4.48725 0.878832 4.9245 0.875732 5.46588L0.875732 5.46588C0.849502 10.0794 1.52824 13.7264 2.95939 16.6064C3.69095 18.0786 4.63734 19.3661 5.77278 20.4326C6.90338 21.4945 8.25938 22.3726 9.80214 23.0434C9.92728 23.0978 10.061 23.125 10.1946 23.125C10.3282 23.125 10.4619 23.0978 10.587 23.0434L10.5871 23.0434C11.7626 22.5322 12.833 21.8996 13.7683 21.1625L13.7684 21.1624C13.7743 21.1577 13.7801 21.1529 13.7857 21.1482H20.3337C20.8773 21.1482 21.3179 20.7075 21.3179 20.1639V14.5789C21.3179 14.0353 20.8773 13.5946 20.3336 13.5946H19.4268V11.5715C19.4268 10.1031 18.2125 8.91234 16.7241 8.91234C15.2357 8.91234 14.0214 10.1031 14.0214 11.5715V13.5946H13.116C12.5724 13.5946 12.1318 14.0352 12.1318 14.5788V19.9287C11.5412 20.351 10.8932 20.7304 10.1947 21.0603C7.76095 19.9103 5.95943 18.1683 4.74853 15.7553C3.53988 13.3467 2.91676 10.2636 2.84962 6.423C6.69635 6.16525 9.05995 4.44331 10.1946 3.34365C11.3293 4.44335 13.6929 6.16526 17.5397 6.423C17.5359 6.64191 17.5304 6.85798 17.523 7.07018C17.5043 7.61349 17.9296 8.069 18.4728 8.0877ZM15.9899 11.5715C15.9899 11.1968 16.3132 10.8808 16.7242 10.8808C17.1351 10.8808 17.4584 11.1968 17.4584 11.5715V13.5946H15.9899V11.5715ZM19.3494 19.1797H14.1003V15.5631H19.3494V19.1797Z" fill="url(#paint0_linear_342_1459)" stroke="url(#paint1_linear_342_1459)" stroke-width="0.25"/>
              <defs>
              <linearGradient id="paint0_linear_342_1459" x1="11.0965" y1="1" x2="11.0965" y2="23" gradientUnits="userSpaceOnUse">
              <stop stop-color="#1A307E"/>
              <stop offset="1" stop-color="#B90000"/>
              </linearGradient>
              <linearGradient id="paint1_linear_342_1459" x1="11.0965" y1="1" x2="11.0965" y2="23" gradientUnits="userSpaceOnUse">
              <stop stop-color="#1A307E"/>
              <stop offset="1" stop-color="#B90000"/>
              </linearGradient>
              </defs>
              </svg> 
              {{ section.settings.secure1 }}
            </p>
            {% endif %}
          </div>
    </div>
    {% unless section.settings.imagePosition1 == 'left' %}
        {{ images }}
    {% endunless %}
  </div>
</div>


{% comment %} Mobile Content {% endcomment %}


                
<div class="max-width top-section-mobile">
    {% if section.settings.subHeading_txt1  != blank %}
      <p class="sb_txts">{{ section.settings.subHeading_txt1 }}</p>
    {% endif %}
    {% if section.settings.Heading_txt1  != blank %}
      <h2 class="rumble">{{ section.settings.Heading_txt1 }}</h2>
    {% endif %}
    {{ section.settings.leftimg1 | image_url: width:'526', height:'604' | image_tag }}
   {% if section.settings.areacontents1 != blank %}
    <div class="copy_text">    
        <p>{{ section.settings.areacontents1  }}</p>
      </div> 
   {% endif %}
      <div class="r_pric">
        <p class="cpric">{{ section.settings.pric_txt1 }}</p>
      </div>
      <div class="bt_wraps">
        <p class="get_extra">
        <svg width="135" height="23" viewBox="0 0 135 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="134" height="22" rx="4.5" fill="white" stroke="#91D848"/>
        <path d="M79.7278 15.126C78.3418 15.126 77.1938 14.552 76.7738 12.928L77.5718 12.704C77.8518 13.866 78.7618 14.286 79.7138 14.286C80.8198 14.286 81.5198 13.81 81.5198 13.166C81.5198 12.536 80.9598 12.242 79.8258 11.962L79.1118 11.78C77.6418 11.402 77.0538 10.702 77.0538 9.764C77.0538 8.686 78.0618 7.888 79.5318 7.888C80.8758 7.888 82.1358 8.574 82.3598 10.114L81.5478 10.282C81.3238 9.134 80.4838 8.742 79.5318 8.742C78.6498 8.742 78.0058 9.148 78.0058 9.764C78.0058 10.464 78.7898 10.772 79.6298 10.982L80.3438 11.164C81.7998 11.542 82.4578 12.13 82.4578 13.152C82.4578 14.272 81.3798 15.126 79.7278 15.126ZM87.1759 7.888C89.0239 7.888 90.4659 9.316 90.4659 11.5C90.4659 13.684 89.0239 15.112 87.1759 15.112C85.9579 15.112 85.0899 14.468 84.5999 13.516V17.282H83.6899V8H84.5999V9.484C85.0899 8.532 85.9579 7.888 87.1759 7.888ZM87.0639 14.272C88.5199 14.272 89.5559 13.222 89.5559 11.5C89.5559 9.778 88.5199 8.728 87.0639 8.728C85.6079 8.728 84.5719 9.778 84.5719 11.5C84.5719 13.222 85.6079 14.272 87.0639 14.272ZM97.8607 11.402C97.8607 11.514 97.8607 11.598 97.8467 11.696H92.3167C92.4007 13.348 93.4227 14.286 94.7107 14.286C95.7047 14.286 96.5587 13.852 97.0347 12.648L97.8187 13.012C97.1327 14.608 95.9007 15.126 94.6687 15.126C92.7927 15.126 91.3927 13.656 91.3927 11.5C91.3927 9.274 92.8067 7.888 94.6967 7.888C96.5027 7.888 97.8607 9.274 97.8607 11.402ZM94.6827 8.728C93.4367 8.728 92.5407 9.554 92.3587 10.926H96.8807C96.7127 9.456 95.8307 8.728 94.6827 8.728ZM102.107 15.112C100.231 15.112 98.7891 13.614 98.7891 11.5C98.7891 9.386 100.231 7.888 102.107 7.888C103.437 7.888 104.683 8.462 105.313 10.254L104.501 10.59C104.039 9.232 103.213 8.728 102.107 8.728C100.805 8.728 99.7131 9.736 99.7131 11.5C99.7131 13.264 100.805 14.272 102.107 14.272C103.213 14.272 104.039 13.768 104.501 12.41L105.313 12.746C104.683 14.538 103.437 15.112 102.107 15.112ZM106.833 6.376C106.441 6.376 106.147 6.068 106.147 5.662C106.147 5.27 106.441 4.962 106.833 4.962C107.239 4.962 107.547 5.27 107.547 5.662C107.547 6.068 107.239 6.376 106.833 6.376ZM106.385 15V8H107.295V15H106.385ZM111.505 7.888C112.989 7.888 114.473 8.658 114.473 10.632V15H113.563V14.286C113.129 14.832 112.373 15.126 111.309 15.126C109.853 15.126 108.467 14.398 108.467 12.984C108.467 11.57 109.853 10.842 111.295 10.842C112.359 10.842 113.129 11.15 113.563 11.682V10.73C113.563 9.232 112.541 8.714 111.505 8.714C110.469 8.714 109.699 9.288 109.475 10.184L108.691 9.932C108.985 8.644 110.119 7.888 111.505 7.888ZM111.519 14.356C112.681 14.356 113.591 13.88 113.591 12.984C113.591 12.088 112.681 11.612 111.519 11.612C110.357 11.612 109.405 12.06 109.405 12.984C109.405 13.908 110.357 14.356 111.519 14.356ZM117.844 14.174H118.46V15H117.774C116.598 15 116.052 14.23 116.052 13.222V5.2H116.962V13.166C116.962 13.81 117.214 14.174 117.844 14.174Z" fill="#001122"/>
        <path d="M32.7843 15.0443V11.6757C32.7843 9.4386 34.352 8.36289 36.2147 8.36289H37.1124V10.0943L36.3201 10.1029C35.7975 10.1029 35.3929 10.2572 35.0979 10.5615C34.8071 10.8615 34.6639 11.3243 34.6639 11.9415V15.0486L32.7843 15.0443ZM37.9131 8.3586H39.8095V11.8557C39.8095 12.1729 39.839 12.4429 39.898 12.6615C39.9612 12.8757 40.0497 13.0472 40.1635 13.1843C40.2815 13.3129 40.4248 13.4029 40.5891 13.4629C40.7577 13.5186 40.9431 13.5443 41.1539 13.5443C41.344 13.5461 41.5332 13.5172 41.7144 13.4586C41.8829 13.4029 42.022 13.3129 42.1358 13.1843C42.2538 13.0515 42.3465 12.8757 42.4055 12.6615C42.4645 12.4472 42.4982 12.1772 42.4982 11.8557V8.36289H44.3946V11.92C44.407 12.4498 44.3227 12.9773 44.146 13.4757C44.0025 13.867 43.7717 14.2191 43.4717 14.5043C43.1738 14.7714 42.8211 14.9676 42.4392 15.0786C42.0473 15.1986 41.6174 15.2586 41.1539 15.2586C40.6903 15.2586 40.2562 15.1986 39.8643 15.0786C39.4839 14.967 39.1327 14.7709 38.836 14.5043C38.5345 14.2196 38.3022 13.8674 38.1575 13.4757C37.9931 13.0472 37.9131 12.5329 37.9131 11.92V8.3586ZM49.5319 11.4529V15.0529H51.4367V11.4529C51.462 10.5957 51.8581 9.86718 52.7221 9.86718C53.5354 9.86718 53.8473 10.7672 53.8473 11.4957V15.0529H55.7437V11.6715C55.7437 9.58003 54.7112 8.14432 52.7811 8.14432C51.7149 8.14432 50.9816 8.53432 50.4843 9.06146C50.1858 8.75373 49.8272 8.5131 49.4316 8.35512C49.0359 8.19714 48.6121 8.12533 48.1875 8.14432C46.2531 8.14432 45.2249 9.58003 45.2249 11.6715V15.0443H47.1213V11.4872C47.1213 10.7586 47.4331 9.8586 48.2465 9.8586C49.1146 9.8586 49.5066 10.5872 49.5319 11.4443V11.4529ZM56.5234 11.4872C56.5234 13.8957 57.9225 15.2715 60.1982 15.2715C60.6786 15.2785 61.1551 15.1836 61.5974 14.9929C62.0019 14.8161 62.3663 14.5564 62.6678 14.23C62.9662 13.9005 63.1982 13.5147 63.3505 13.0943C63.512 12.6499 63.5933 12.1795 63.5907 11.7057C63.5941 11.2354 63.5157 10.7682 63.3589 10.3257C63.2123 9.90773 62.9861 9.52324 62.6931 9.19432C62.3969 8.86533 62.0367 8.60261 61.6353 8.42289C61.1909 8.22935 60.711 8.13439 60.2277 8.14432C59.8484 8.14432 59.5029 8.20003 59.2036 8.31146C58.9216 8.41398 58.656 8.5584 58.4156 8.74003V5.96289H56.5234V11.4872ZM61.5679 10.9515C61.6564 11.1786 61.7027 11.4229 61.7027 11.7015C61.7027 11.98 61.6606 12.2329 61.5679 12.46C61.4846 12.6783 61.3601 12.8778 61.2012 13.0472C61.0497 13.2114 60.8659 13.3414 60.6618 13.4286C60.2406 13.6048 59.7681 13.6048 59.3469 13.4286C59.1468 13.3402 58.9651 13.2136 58.8117 13.0557C58.6556 12.885 58.5327 12.6858 58.4493 12.4686C58.3615 12.2214 58.3187 11.96 58.3229 11.6972C58.3184 11.2073 58.4943 10.7334 58.8159 10.3686C58.9688 10.2092 59.1524 10.0837 59.3554 10C59.5644 9.90883 59.7896 9.86216 60.017 9.86289C60.3545 9.85884 60.6849 9.96138 60.9627 10.1563C61.2404 10.3513 61.4519 10.6291 61.5679 10.9515ZM64.3071 5.96289H66.2036V15.0486H64.3071V5.96289ZM67.1813 10.3343C67.0089 10.7717 66.9216 11.2389 66.9242 11.71C66.9205 12.1823 67.0063 12.6508 67.1771 13.09C67.348 13.5102 67.5969 13.8929 67.9104 14.2172C68.2264 14.5459 68.603 14.808 69.0187 14.9886C69.4528 15.1686 69.929 15.2629 70.4431 15.2629C70.8577 15.2697 71.27 15.2015 71.6611 15.0615C72.0122 14.9392 72.3422 14.7613 72.6388 14.5343C72.9113 14.3244 73.1501 14.0729 73.3468 13.7886C73.5335 13.5245 73.6785 13.2325 73.7766 12.9229H71.7327C71.6189 13.1286 71.4546 13.3 71.2312 13.4329C71.0333 13.546 70.8135 13.6139 70.5871 13.6316C70.3607 13.6494 70.1332 13.6167 69.9206 13.5357C69.7468 13.4706 69.5835 13.3796 69.4359 13.2657C69.1267 13.0092 68.9054 12.6596 68.8038 12.2672H73.941C73.9685 12.0827 73.9839 11.8966 73.9874 11.71C73.9911 11.237 73.9023 10.7679 73.7261 10.33C73.5599 9.90403 73.3107 9.51661 72.9935 9.19108C72.6763 8.86554 72.2976 8.60861 71.8802 8.43575C71.4267 8.24269 70.939 8.14642 70.4474 8.15289C69.929 8.15289 69.4528 8.24718 69.0187 8.43575C68.6005 8.61238 68.2209 8.87167 67.9019 9.1986C67.5905 9.52353 67.3455 9.90811 67.1813 10.33V10.3343ZM69.457 10.0472C69.7455 9.83042 70.0973 9.7187 70.4558 9.73003C70.8393 9.73003 71.1596 9.83718 71.4166 10.0557C71.6695 10.2657 71.8591 10.54 71.9771 10.8786H68.8586C68.985 10.5357 69.1831 10.2572 69.4528 10.0472H69.457Z" fill="#001122"/>
        <path d="M24.8193 12.357C25.325 11.9499 25.325 11.157 24.8193 10.737C24.0995 10.1293 23.3099 9.61272 22.4677 9.19844C21.8861 8.91558 21.2371 9.30987 21.1444 9.98273C21.0011 11.0113 20.9759 12.0484 21.0686 13.0342C21.1318 13.7156 21.7724 14.1227 22.3624 13.8613C23.2437 13.4755 24.0701 12.971 24.8193 12.3613V12.357ZM28.5995 9.3613C29.1352 9.95756 29.4329 10.7356 29.4345 11.5432C29.436 12.3509 29.1413 13.13 28.6079 13.7284C26.7031 15.8663 24.2146 17.3779 21.4605 18.0699C20.7563 18.2491 20.0111 18.1421 19.3831 17.7716C18.7552 17.4011 18.294 16.7963 18.0975 16.0856C17.2673 13.2013 17.3895 9.93987 18.1902 7.04273C18.6116 5.5213 20.0192 4.56558 21.4689 4.91701C24.1534 5.56844 26.6736 7.24416 28.5995 9.3613Z" fill="#85C742"/>
        </svg> {{ section.settings.extraoff1 }}
        </p>
        <a href="{{ section.settings.b_url1 }}" class="common_button">{{ section.settings.b_txt1 }}</a>
        {% if section.settings.secure1 != blank %}
        <p class="secure">
        <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.4728 8.0877L18.473 8.0877C19.0161 8.1057 19.4716 7.68129 19.4903 7.1379C19.5089 6.59804 19.5167 6.0355 19.5134 5.46593C19.5104 4.92454 19.0706 4.48725 18.5292 4.48725C16.3327 4.48725 14.4015 3.95004 12.7848 2.8949L12.7172 2.9985L12.7848 2.8949C11.6117 2.12931 11.037 1.35183 11.0024 1.30414C10.8196 1.03636 10.5207 0.875 10.1946 0.875C9.86856 0.875 9.56965 1.03635 9.38682 1.30412C9.35199 1.3521 8.77722 2.12947 7.60437 2.8949L7.67174 2.99813L7.60437 2.8949C5.9877 3.95004 4.05647 4.48725 1.85997 4.48725C1.31859 4.48725 0.878832 4.9245 0.875732 5.46588L0.875732 5.46588C0.849502 10.0794 1.52824 13.7264 2.95939 16.6064C3.69095 18.0786 4.63734 19.3661 5.77278 20.4326C6.90338 21.4945 8.25938 22.3726 9.80214 23.0434C9.92728 23.0978 10.061 23.125 10.1946 23.125C10.3282 23.125 10.4619 23.0978 10.587 23.0434L10.5871 23.0434C11.7626 22.5322 12.833 21.8996 13.7683 21.1625L13.7684 21.1624C13.7743 21.1577 13.7801 21.1529 13.7857 21.1482H20.3337C20.8773 21.1482 21.3179 20.7075 21.3179 20.1639V14.5789C21.3179 14.0353 20.8773 13.5946 20.3336 13.5946H19.4268V11.5715C19.4268 10.1031 18.2125 8.91234 16.7241 8.91234C15.2357 8.91234 14.0214 10.1031 14.0214 11.5715V13.5946H13.116C12.5724 13.5946 12.1318 14.0352 12.1318 14.5788V19.9287C11.5412 20.351 10.8932 20.7304 10.1947 21.0603C7.76095 19.9103 5.95943 18.1683 4.74853 15.7553C3.53988 13.3467 2.91676 10.2636 2.84962 6.423C6.69635 6.16525 9.05995 4.44331 10.1946 3.34365C11.3293 4.44335 13.6929 6.16526 17.5397 6.423C17.5359 6.64191 17.5304 6.85798 17.523 7.07018C17.5043 7.61349 17.9296 8.069 18.4728 8.0877ZM15.9899 11.5715C15.9899 11.1968 16.3132 10.8808 16.7242 10.8808C17.1351 10.8808 17.4584 11.1968 17.4584 11.5715V13.5946H15.9899V11.5715ZM19.3494 19.1797H14.1003V15.5631H19.3494V19.1797Z" fill="#85C742" stroke="#85C742" stroke-width="0.25"/>
        </svg>
        {{ section.settings.secure1 }}
        </p>
        {% endif %}
      </div>
    </div>
{% schema %}
  {
    "name": "Rumble image+text",
    "class": "rumble_top rumble_bottom",
    "settings": [
      {
        "type": "header",
        "content": "Section ID"
      },
      {
          "type": "text",
          "id": "custom_id1",
          "label": "Add custom section ID"
      },
      {
        "type": "header",
        "content": "Content Left"
      },
      {
          "type": "text",
          "id": "subHeading_txt1",
          "label": "Top Sub Heading"
      },
      {
          "type": "text",
          "id": "Heading_txt1",
          "label": "Main heading"
      },
      {
        "type": "textarea",
        "id": "areacontents1",
        "label": "List Content"
      },
      {
          "type": "html",
          "id": "pric_txt1",
          "label": "Enter Pricing text",
          "info" : "Starting at <span class='top_price'>$34.99</span> <span class='green_text'>for life</span>"
      },
      {
          "type": "text",
          "id": "extraoff1",
          "label": "Enter Extra Off Text"
      },
      {
          "type": "text",
          "id": "b_txt1",
          "label": "Enter Button text"
      },
      {
          "type": "url",
          "id": "b_url1",
          "label": "Enter Url",
          "info" : "For scroll product section update text '#products_scrolls' in url "
      },
      {
          "type": "text",
          "id": "secure1",
          "label": "Enter Secure & encrypted connection"
      },
      {
        "type": "header",
        "content": "Image right"
      },
      {
      "type": "select",
      "id": "imagePosition1",
      "label": "Image position",
      "options": [
        {"value": "left", "label": "Left"},
        {"value": "right", "label": "Right"}
      ],
      "default": "left"
     },
      {
          "type": "image_picker",
          "id": "leftimg1",
          "label": "Select Left Image"
      }
    ],
    "presets": [
    {
      "name": "Rumble image+text"
    }
  ]
  }
{% endschema %}

