<div class="visio-banner-wrapper visio-max-width">
  <div class="v_content">
      <div class="v_content_wrap">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.copy }}</p>
        <div class="v_btn_wrap">
        <a class="button" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
        <a class="learn" href="{{ section.settings.learn_url }}">Learn more &gt;</a>
       </div> 
    </div>  
  </div>
  <div class="v_image">
    {{ section.settings.image | image_url: width:'534', height:'351' | image_tag }}
  </div>
</div>
{% schema %}
{
  "name": "Visio Banner",
  "class": "visio-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Page Title",
      "default": "Compare Visio Options"
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Description Text",
      "default": "Explore the key features, benefits, and specifications of different Microsoft Windows Server editions in one glance."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "url",
      "id": "learn_url",
      "label": "Learn URL"
    }
  ],
  "presets": [
    {
      "name": "Visio Banner"
      }
  ]
}
{% endschema %}